- Management:
    - Fritzbox:
        icon:  avmfritzbox.svg
        href: "http://{{ router_host }}"
        description: Manage your router.
        siteMonitor: "http://{{ router_host }}"
        widget:
          type: fritzbox
          url: "http://{{ router_host }}"

