title: Homeserver
base: "https://{{ hostname }}"
language: "{{ language }}"

providers:
  openweathermap: "{{ openweather_api_key }}"

favicon: /images/favicon.ico
background:
  image: /images/background.webp

iconStyle: theme
theme: dark
color: slate

hideVersion: true
headerStyle: clean

cardBlur: md
useEqualHeights: true

quicklaunch:
  searchDescriptions: true
  hideInternetSearch: true
  showSearchSuggestions: true
  hideVisitURL: true

layout:
  Glances:
    style: row
    columns: 4
    header: false
  Management:
    style: row
    columns: 3
    header: false
  Media:
    style: row
    columns: 3
    header: false
  System:
    style: row
    columns: 3
    header: false
