global:
  sendAnonymousUsage: false

entryPoints:
  web:
    address: :80
    http:
      redirections:
        entrypoint:
          to: websecure
          scheme: https
          permanent: true
  websecure:
    address: :443
    http:
      tls: 
        certResolver: letsencrypt
        domains:
          - main: "{{ hostname }}"
            sans: "*.{{ hostname }}"

tls:
  options:
    modern:
      minVersion: 'VersionTLS13'
    intermediate:
      minVersion: 'VersionTLS12'
      cipherSuites:
        - 'TLS_ECDHE_ECDSA_WITH_AES_128_GCM_SHA256'
        - 'TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256'
        - 'TLS_ECDHE_ECDSA_WITH_AES_256_GCM_SHA384'
        - 'TLS_ECDHE_RSA_WITH_AES_256_GCM_SHA384'
        - 'TLS_ECDHE_ECDSA_WITH_CHACHA20_POLY1305'
        - 'TLS_ECDHE_RSA_WITH_CHACHA20_POLY1305'

http:
  middlewares:
    authelia:
      forwardAuth:
        address: 'http://{{ authelia_container_name }}:9091/api/authz/forward-auth'
        trustForwardHeader: true
        authResponseHeaders:
          - 'Remote-User'
          - 'Remote-Groups'
          - 'Remote-Email'
          - 'Remote-Name'
    authelia-basic:
      forwardAuth:
        address: 'https://{{ authelia_container_name }}:9091/api/verify?auth=basic'
        trustForwardHeader: true
        authResponseHeaders:
          - 'Remote-User'
          - 'Remote-Groups'
          - 'Remote-Email'
          - 'Remote-Name'

certificatesResolvers:
  letsencrypt:
    acme:
      email: "{{ acme_email }}"
      storage: "/etc/traefik/acme.json"
      dnsChallenge:
        provider: namecheap
        resolvers:
          - "1.1.1.1:53"
          - "8.8.8.8:53"

api:
  dashboard: true
  insecure: true

providers:
  docker: 
    exposedByDefault: false
  file:
    directory: /etc/traefik
    watch: true

metrics:
  prometheus: {}

log:
  level: INFO