default_config:

frontend:
  themes: !include_dir_merge_named themes

http:
  use_x_forwarded_for: true
  trusted_proxies:
    - 10.5.0.3

automation: !include automations.yaml
script: !include scripts.yaml
scene: !include scenes.yaml